{% extends "bootstrap/base.html" %}
{% block title %}WSSO{% endblock %}
{%block navbar%}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle"
			data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/" style="color: white">Home</a>
		</div>
		
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="/">Contact</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" style="color: white;font-size: 20px" onclick="loginToggler()">Login</a></li>
			</ul>
		</div>
	</div>
</div>

{%endblock%}

{%block content%}

<div class="container">
	<div class="row">
		
		<div class="col-sm-7">
		
			<div class="container" id="titlebar">
				<div class="row">
					<div class="col-sm-2">
						<img src="/static/images/wsso.jpeg" height="100px">
					</div>
					<div class="col-sm-10">
						<h1>Water Sanitation and Support</h1>
					</div>
				</div>
			</div>
			<br>
			<div class="container" id="public">
				<div class="row">
					<div class="col-sm-2 text-right"><b><span style="font-size: 25px;">Location : </span></b></div>
					<div class="col-sm-8">
						<input type="text" id="searchbox" class="form-control" placeholder="Enter Your Location" list="districts">
						<datalist id="districts">
							{%for data in option%}
							<option value={{data}}>{{data}}</option>
							{%endfor%}
						</datalist>



					</div>
					<div class="col-sm-2"><input type="submit" value="Search" onclick="requestdata()"></div>
				</div>
				<div class="row" id="state report">
					<div class="col-sm-6">
						<br>
						<canvas id="myChart" width="400" height="300"></canvas>	
					</div>
					<div class="col-sm-6">
						
					</div>
					
				</div>
				<div class="row">
					<div class="col-sm-12" id="search_result">
						
					</div>
					
				</div>
			</div>

		
		</div>
		
		<div class="col-sm-5" id="logintoggler" style="display: none;background-color:#999;color: white; ">
			<div class="container" id="login_form">
				<form>
					<span style="margin-left:50px;"><h3>Login Form</h3></span>
					<br>
					<span><b>Email:&emsp;&emsp;</b></span><input type="text" id="email" style="margin-left: 57pxcolor: black;;color: black;"><br>
					<br><span><b>Password:</b>&emsp;&emsp;</span><input type="password" id="Password" style="margin-left: 30px;color: black;">
					<br><input type="submit" value="login" style="color: black;" onclick="registerformdata()"><br>
					<button id="register_btn" onclick='registertoggle()' style="margin-left: 300px;color: black;">Register</button><br>
				</form>
			</div>
			<div class="container" id="Register_form" style="display: none;">
				<form>
					<span style="margin-left:50px;"><h3>Registration Form</h3></span>
					<br>
					<span><b>Email:&emsp;&emsp;</b></span><input type="text" id="reg_email" style="margin-left: 57px;color: black;"><br>
					<br><span><b>Password:</b>&emsp;&emsp;</span><input type="password" id="reg_Password" style="margin-left: 30px;color: black;">
					<br>Level:<select style="color: black;" id="reg_level"><option value="District">District</option><option value="Block">Block</option><option value="Villages">Villages</option><option value="Villages">Villages</option><option value="Habitation">Habitation</option></select> <input type="text" placeholder="enter the name" id="reg_name"><br>
					<br><input type="submit" value="Register" style="color: black;"><br>
					<button id="login_btn" onclick='loginformtoggler()'  style="margin-left: 300px;color: black;">Login</button><br>
					
				</form>
			</div>
		</div>
	</div>
</div>


{%endblock%}

{%block head%}
		{{super()}}
		<script type="text/javascript" src='static/js/Chart.min.js'></script>
		<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
				<script type="text/javascript">
				function showdata(var_id){
					var toggle_id="#"+var_id
					$(toggle_id).slideToggle();
				}
				function loginToggler(){
					$("#logintoggler").slideToggle()
				}
				function registertoggle(){
					$("#login_form").toggle("slide")
					$("#Register_form").toggle("slide")
				}
				function loginformtoggler(){
					$("#Register_form").toggle("slide")
					$("#login_form").toggle("slide")
				}
				function loginformdata(){
					
					var userid=$("#email").val();
					var password=$("#Password").val();
					if(userid==''){ alert("username is empty");
					return;}
					else if(password==''){ alert("password is empty");
					return;}
					else{
						var dataset='{"username":"'+userid+'","password":"'+password+'"}'
						$.post("/api/v1/request/login",dataset,function(result){
							if(result=="false") alert("invalid username or password")
							
						});
					}

				}
				function registerformdata(){
					var userid=$("#reg_email").val();
					var password=$("#reg_Password").val();
					var level=$("#reg_level").val()
					var reg_name=$("#reg_name").val()
					if(userid==''){ alert("username is empty");
					return;}
					else if(password==''){ alert("password is empty");
					return;}
					else{
						var dataset='{"username":"'+userid+'","password":"'+password+'","level":"'+level+'","name":"'+reg_name+'"}'
						$.post("/api/v1/request/register",dataset,function(result){
							if(result=="false") alert("invalid username or password")
							else alert("successfully registered and details are sent to you emails")
						});
					}
				}
				function requestdata(){
					if( $("#searchbox").val() == '')
						alert("enter some district names")
					else
					{
						$.post("/api/v1/request/"+$("#searchbox").val(),function(result){
							$("#search_result").empty();
							var searchdata=''
							id_count=0;
							values=[]
							tags=['Calcium','Chloride','Coliform','E-Coli (MPN /100 Ml)','Fluoride','Hardness','Iron','Magnesium','Manganese','Nitrate','Sulphates','TDS','Turbidity','pH']
											
								for(i=0;i<4;i++){
									if(result[i].length==0)
										continue;
									else
									{
										for(j=1;j<result[i].length;j++)
										{
											var colortag="";
											var problem='';
											 
											values[id_count]=[]
											for(var tag=0;tag<tags.length;tag++){
											values[id_count].push(((((result[i][j][tags[tag]]).split('@'))[0]).split(' '))[0]);}

											if( result[i][j]["overall"]=="True"){
												colortag="<span style='background-color:lightgreen;'>Safe Water</span>";
												problem='<b>Safe to Drink Water</b>'
												
												}

											else
												{
													colortag="<span style='background-color:red;color:white'>UnSafe Water</span>";

													for(var tag=0;tag<tags.length;tag++)
														if(((result[i][j][tags[tag]]).split('@')).length>=2)
														{	var ans=(result[i][j][tags[tag]]).split('@');
															if(ans[1]=="safe" || ans[1]=="permissible" || ans[1]=="permisible"){ 
																continue;

															}
															else{
																var ans=(result[i][j][tags[tag]]).split('@');
																if(ans.length>=2)
																	problem="<b>"+tags[tag]+" measurement: </b>"+ans[0]+"&emsp;&emsp;"+"<b>"+tags[tag]+" level: </b>"+ans[1];
																if(ans.length>=3)
																	problem+="<br><b>Side Effects due to "+tags[tag]+"</b> is "+ans[2]+"<br>";
 
															}
															
														}


												}

												searchdata+="<div class='container' style='border:1px solid black;'> \
																<div class='row'>\
																	<div class='col-sm-12'>\
																			<div class='col-sm-1'></div>\
																			<div class='col-sm-11'>\
																				<div class='row'>\
																					<div class='col-sm-3'><b>District: </b>"+result[i][j]["District"]+"</div>\
																					<div class='col-sm-3'><b>Block: </b>"+result[i][j]["Block"]+"</div>\
																					<div class='col-sm-3'><b>Village:</b>"+result[i][j]["Village"]+"</div>\
																					<div class='col-sm-3'>"+colortag+"</div>\
																				</div>\
																				\
																				<div class='row'>\
																					<div class='col-sm-3'><b>Type of Source: </b>"+result[i][j]["Type of Source"]+"</div>\
																					<div class='col-sm-3'><b>Location/SourceId & Main Scheme Name : </b>"+result[i][j]["Location/SourceId & Main Scheme Name"]+"</div>\
																					<div class='col-sm-3'></div>\
																					<div class='col-sm-3'><input type='button' value='Click' onclick='showdata(\""+id_count+"\")'></div>\
																						\
																				</div>\
																			</div>\
																			<br>\
																	</div>\
																</div>\
																<div class='row' id='"+id_count+"'style='color:red;display:None;'><div class='col-sm-4'>\<canvas id='"+id_count+"' width=\"100\" height=\"100\"></canvas>\
																</div>\
																<div class='col-sm-8'>"+problem+" \
																</div>\
															</div> \
														</div>";
														//alert(values[id_count])														
														id_count+=1;
										}
									}
								}
							//alert(problem);
							$("#search_result").append(searchdata);

							/*for(var i=0;i<id_count;i++){
								data_id=[]
								label_id=[]
								
								for(j=0;j<tags.length;j++)
									if(values[i][j]!="Not")
									{
										//alert(values[i][j])
										data_id.push(parseFloat(values[i][j]))
										label_id.push(tags[j])
									}
									ctx_id="#"+i;
								var ctx = $(ctx_id);
								var myDoughnutChart = new Chart(ctx, {
								    type: 'doughnut',
								    data: {
										    datasets: [{
										        data: data_id
										    }],

										    // These labels appear in the legend and in the tooltips when hovering different arcs
										    labels: label_id
										}
								});

							}*/
						});
					}
				}
				$(document).ready(function(){
									var ctx = document.getElementById("myChart");
									 var para_keys = []
									 {%for keys in para_keys%}
									 	para_keys.push("{{keys}}")
									 {%endfor%}
									 
									 var para_safe = []
									 {%for keys in para_safe%}
									 	para_safe.push({{keys}})
									 {%endfor%}
									 
									 var para_unsafe = []
									 {%for keys in para_unsafe%}
									 	para_unsafe.push({{keys}})
									 {%endfor%}
									 
									 	var myChart = new Chart(ctx, {
										    type: 'bar',
										    data: {
										    	title: {
										            display: true,
										            position: "top",
										            text: "Bar Graph",
										            fontSize: 18,
										            fontColor: "#111"
										        },
										        labels: para_keys,
										        datasets: [{
										            label: 'Safe',
										            data: para_safe,
										            borderWidth: 1,
										            backgroundColor: ["rgba(0,255,0,0.5)","rgba(0,255,0,0.5)","rgba(0,255,0,0.5)","rgba(0,255,0,0.5)","rgba(0,255,0,0.5)","rgba(0,255,0,0.5)","rgba(0,255,0,0.5)","rgba(0,255,0,0.5)","rgba(0,255,0,0.5)","rgba(0,255,0,0.5)","rgba(0,255,0,0.5)","rgba(0,255,0,0.5)","rgba(0,255,0,0.5)"]
                

										        },
										        {
										            label: 'UnSafe',
										            data: para_unsafe,
										            borderWidth: 1,
										            backgroundColor: ["rgba(255,0,0,0.7)","rgba(255,0,0,0.7)","rgba(255,0,0,0.7)","rgba(255,0,0,0.7)","rgba(255,0,0,0.7)","rgba(255,0,0,0.7)","rgba(255,0,0,0.7)","rgba(255,0,0,0.7)","rgba(255,0,0,0.7)","rgba(255,0,0,0.7)","rgba(255,0,0,0.7)","rgba(255,0,0,0.7)","rgba(255,0,0,0.7)"]
                

										        }]
										    }
										});
										});

		</script>

{%endblock%}